boto3
click
docker
flask
requests
schedule
titus-optimize==0.7.2
cvxopt==1.2.5
netflix-spectator-py==0.1.17
kubernetes
grpcio
grpcio-tools
werkzeug>=3.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
